.homePage_container {
  background-color: blue; /* Set a white background */
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 2rem;
    color: #333; /* Dark text color */
    margin-bottom: 20px;
    font-family: Ubuntu;
  }

  p {
    font-size: 1rem;
    color: #666; /* Slightly darker text color */
  }
}